:root {
  /* color */
  --blue-color: #005cb2;
  --yellow-color: #ffeb3b;
  --pink-color: #f48fb1;
  --grey-dark-color: #37474f;
  --grey-light-color: #e0e0e0;

  /* size */
  --padding: 12px;
  --padding-large: 36px;

  /* fontsize */
  --font-large: 18px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;

  overflow: hidden;
}
body {
  font-family: Noto Sans JP;
  background-color: var(--grey-dark-color);
}
ul {
  list-style: none;
}

.displayblock {
  display: block;
}
.displaynone {
  display: none;
}

.info {
  display: block;
}

.items_list .items {
  margin: 10px;
}
.items_list .items .img {
  margin: auto 50px auto 50px;
}

.info ul .items {
  display: flex;
  align-items: center;

  background-color: var(--grey-light-color);

  border-radius: 4px;
  height: 100px;
}

.header .img {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav .text {
  border-radius: 4px;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  padding: var(--padding);
}

.nav .blue {
  background-color: var(--blue-color);
}

.nav .pink {
  background-color: var(--pink-color);
}
.nav .yellow {
  background-color: var(--yellow-color);
}
